<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnB Avalia</title>
    <link rel="stylesheet" href="/css/styleTurma.css" />
  </head>

  <body>
    <header>
      <nav>
        <a class="logo" href="/">UnB Avalia</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Início</a></li>
          <li><a href="/turmas">Turmas</a></li>
          <li><a href="/ranking">Ranking</a></li>
          <li><a href="/login">Entrar</a></li>
          <li><a href="/register">Registrar</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="title" style="font-size: 50px;"> Edite sua avaliação</h1>
      <div id="avaliacaoForm">
        <form action="/turmas/edit/<%= avaliacao.id %>" method="POST">
          <input class ="avaliacaoSubmit" type="text" name="avaliacao" placeholder="Avaliação" value = "<%=avaliacao.avaliacao%>"/>
          <select value ="Nota" name="Nota">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <input type="hidden" name="id_avaliacao" value="<%= avaliacao.id %>" />
            <input type="hidden" name="id_turma" value="<%= avaliacao.fk_id_turma %>" />
            <input type="hidden" name="id_user" value="<%= avaliacao.fk_id_user %>" />
            <input type="submit" value="Enviar" />
          </select>
          </form>
      </div>
    </main>
  </body>
</html>