<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnB Avalia</title>
    <link rel="stylesheet" href="/css/perfil.css" />
  </head>

  <body>
    <% nomeUsuario = contexto.nome %> <% isAdmin = contexto.isAdmin %> <% let
    logged = (typeof nomeUsuario != 'undefined') %> <% if (logged) {nomeUsuario
    = nomeUsuario.split(' ')[0]} %>
    <header>
      <nav>
        <a class="logo" href="/">UnB Avalia</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Início</a></li>
          <li><a href="/turmas">Turmas</a></li>
          <li><a href="/ranking">Ranking</a></li>
          <% if(isAdmin) { %>
          <li><a href="/admin">Admin</a></li>
          <% } %> <% if (!logged) { %>
          <li><a href="/login">Entrar</a></li>
          <li><a href="/register">Registrar</a></li>
          <% } %> <% if(logged) { %>
          <li><a href="/perfil">Logado como <%= nomeUsuario %></a></li>
          <li><a href="/login/logout">Sair</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <main>
      <% usuario = contexto.user %>
      <div class="foto">
        <% if ( typeof contexto.user.foto_de_perfil != 'undefined' && usuario.foto_de_perfil != null) { %>
        <img src="data:image/jpeg;base64,<%= contexto.user.foto_de_perfil.toString('base64') %>" alt="Foto de perfil">
        <% } %>
      </div>

      <div class="informacoes_usuario">
        <div class="infos">
          <p>Nome: <%= usuario.nome %></p>
          <p>Matrícula: <%= usuario.matricula %></p>
          <p>Curso: <%= usuario.curso %></p>
          <p>Email: <%= usuario.email %></p>
          <p>Senha: <%= usuario.senha %></p>
          <% if (usuario.isAdmin) { %>
          <p>Usuário administrador</p>
          <% } else { %>
          <p>Usuário comum</p>
          <% } %>
          <form action="/perfil/" method="POST" enctype="multipart/form-data">
            <input
              type="file"
              id="imagemInput"
              accept="image/*"
              name="imagem"
            />
            <button type="submit">Enviar</button>
          </form>
        </div>
        <div class="avaliacoes">
          <p>Avaliações</p>
        </div>
      </div>
    </main>
  </body>
</html>
