<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnB Avalia</title>
    <link rel="stylesheet" href="css/styleTurmas.css" />
  </head>

  <body>
    <header>
      <nav>
        <a class="logo" href="/">UnB Avalia</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a id="teste" href="/">Início</a></li>
          <li><a href="/turmas">Turmas</a></li>
          <li><a href="/ranking">Ranking</a></li>
          <li><a href="/login">Entrar</a></li>
          <li><a href="/register">Registrar</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="title"> TURMAS </h1>
      
      <ol style="--length: <%= turmas.length%>" role="list">
        <% let contador = 0 %>
        <% turmas.forEach(turma => { %>
          <li class="itemTurma" href="/turmas/<%=turma.id%>" style="--i: <%=contador%>">
            <a href="/turmas/<%=turma.id%>"> 
              <h3> <%= turma.nome_disciplina %></h3>
              <p> <b>Período:</b> <%= turma.periodo %></p>
              <p> <b>Professor:</b> <%= turma.nome_professor %></p>
              <p> <b>Turma:</b> <%= turma.turma%></p>
              <% contador++ %>
            </a>
            </li>
          <% })%>
      </ol>
    </main>
  </body>
</html>