<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnB Avalia</title>
    <link rel="stylesheet" href="/css/styleTurma.css" />
  </head>

  <body>
    <% const turma = contexto.turma %> <% const avaliacoes = contexto.avaliacoes
    %>
    <header>
      <nav>
        <a class="logo" href="/">UnB Avalia</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Início</a></li>
          <li><a href="/turmas">Turmas</a></li>
          <li><a href="/ranking">Ranking</a></li>
          <li><a href="/login">Entrar</a></li>
          <li><a href="/register">Registrar</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="title"><%= turma.nome_disciplina %></h1>
      <p>Turma: <%= turma.turma %></p>
      <p>Periodo: <%= turma.periodo %></p>
      <p>Horario: <%= turma.horario %></p>
      <p>Professor: <%= turma.nome_professor%></p>

      <% if (typeof contexto.nome != 'undefined') { %>
      <img src="/plus.png" class="imagem" id="avaliacaoLink" href="#" />
      <% } %>
      <div id="avaliacaoForm" style="display: none">
        <form action="/turmas/create" method="POST">
          <textarea
            class="avaliacaoDenuncia"
            type="text"
            name="avaliacao"
            placeholder="Avaliação"></textarea>
          <select value="Nota" name="Nota">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <input type="hidden" name="id_turma" value="<%= turma.id %>" />
            <input type="submit" value="Enviar" />
          </select>
        </form>
      </div>

     <% if (Array.isArray(avaliacoes)) { %> <%
      avaliacoes.reverse().forEach(avaliacao => { %>
      <li class="itemTurma">
        <div class="titulo_card">
          <h3><%= avaliacao.nome_estudante %></h3>
          <div class="buttons">
            <% if (contexto.isAdmin || avaliacao.nome_estudante ===
            contexto.nome) { %>
            <form
              action="/turmas/<%=turma.id%>/edit/<%=avaliacao.id%>"
              method="post"
            >
              <button
                class="actionButtons"
                type="submit"
                style="background-color: #f5b21d"
              >
                Editar
              </button>
            </form>
            <form
              action="/turmas/<%=turma.id%>/delete/<%=avaliacao.id%>"
              method="post"
            >
              <button class="actionButtons" type="submit">Apagar</button>
            </form>
            <% } %> <% if (typeof nomeUsuario != 'undefined' &&
            avaliacao.nome_estudante != contexto.nome) { %>
            <img
              src="/Report.png"
              alt="Report Button"
              class="reportButton"
              width="50"
              height="50"
              data-avaliacao-id="<%= avaliacao.id %>"
            />
            <% } %>
          </div>
        </div>
        <p>Avaliacao: <%=avaliacao.avaliacao %></p>
        <p class="nota"><b>Nota:</b> <%= avaliacao.nota%></p>
      </li>
      <% })%> <% } %>

      <div id="reportModal" style="display: none" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Denunciar Avaliação</h3>
            <form action="/denuncia/" method="post">
              <textarea class="avaliacaoDenuncia" name="motivo" placeholder="Motivo"></textarea>
              <input type="hidden" name="id_avaliacao" id="avaliacaoIdInput" value="" />
              <input id="enviarDenuncia" type="submit" value="Enviar" />
            </form>
          </div>
      </div>
    </main>

    <script>
      var modal = document.getElementById("reportModal");
      var span = document.getElementsByClassName("close")[0];
      span.onclick = function () {
        modal.style.display = "none";
      };
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      document
        .getElementById("avaliacaoLink")
        .addEventListener("click", function (e) {
          e.preventDefault(); // Impede o comportamento padrão do link
          // Exibe o formulário de avaliação
          document.getElementById("avaliacaoForm").style.display = "block";
          document.getElementById("avaliacaoLink").style.display = "none";
        });
      document
        .querySelectorAll(".reportButton")
        .forEach(function (button) {
          button.addEventListener("click", function (e) {
            e.preventDefault(); // Impede o comportamento padrão da imagem

            var avaliacaoId = button.getAttribute("data-avaliacao-id");
            document.getElementById("avaliacaoIdInput").value = avaliacaoId;

            // Exibe o modal da denúncia
            document.getElementById("reportModal").style.display = "block";
          });
        });
      document.getElementById("enviarDenuncia").addEventListener("click", function (e) {
        document.getElementById("reportModal").style.display = "none";
      });
    </script>
  </body>
</html>
